<div class="background">
    <h2>COVID-19 Real Time Statistics</h2>
    <hr>
    <h4>Published By Kevin Perera</h4>

    <div><p>Updated Time: {{update_date_time}}</p></div>
    <hr>
    <div><p>Local new Cases : {{local_new_cases}}</p></div>
    <div><p>Local Total Cases : {{local_total_cases}}</p></div>
    <div><p>Local Total individuals in hospital : {{local_total_number_of_individuals_in_hospitals}}</p></div>
    <div><p>Local Total Deaths : {{local_deaths}}</p></div>
    <div><p>Local Total Recovered : {{local_recovered}}</p></div>
    <hr>
    <div><p>Global New Cases : {{global_new_cases}}</p></div>
    <div><p>Global Total Cases : {{global_total_cases}}</p></div>
    <div><p>Global Deaths : {{global_deaths}}</p></div>
    <div><p>Global Recovered : {{global_recovered}}</p></div>
</div>