<div class="background">
    <h2>COVID-19 Real Time Statistics</h2>
    <hr>
    <h4>Published By Kevin Perera</h4>

    <div><p>Updated Time: 
            <span class="badge badge-warning">
                {{update_date_time}}
                <div class="spinner-border text-info" style="width: 1rem; height: 1rem;" role="status">
                        <span class="sr-only">Loading...</span>
                </div>
            </span>
        </p>
    </div>

    <hr>
    <!-- <div class="jumbotron">
        <h5 class="display-10">Local Updates</h5><hr>
        <div class="local-content-body">
            <div >Local new Cases : 
                <span class="badge badge-primary badge-pill">{{local_new_cases}}</span>
            </div>
            <div>Local Total Cases : {{local_total_cases}}</div>
            <div>Local Total individuals in hospital : {{local_total_number_of_individuals_in_hospitals}}</div>
            <div>Local Total Deaths : {{local_deaths}}</div>
            <div>Local Total Recovered : {{local_recovered}}</div>
        </div>
    </div>

    <div class="jumbotron">
        <h5 class="display-10">Local Updates</h5><hr>
            <div class="global-content-body">
            <div>Global New Cases : {{global_new_cases}}</div>
            <div>Global Total Cases : {{global_total_cases}}</div>
            <div>Global Deaths : {{global_deaths}}</div>
            <div>Global Recovered : {{global_recovered}}</div>
        </div>
    </div> -->

    <!-- <div class="card-group">
        <div class="card border-success mb-3" style="max-width: 18rem;">
                <div class="card-header bg-transparent border-success">{{local_new_cases}}</div>
                <div class="card-body text-success">
                <p class="card-text">Local new Cases</p>
                </div>
        </div>
        <div class="card border-success mb-3" style="max-width: 18rem;">
                <div class="card-header bg-transparent border-success">{{local_total_cases}}</div>
                <div class="card-body text-success">
                <p class="card-text">Local Total Cases</p>
                </div>
        </div>
    </div> -->

    
    <div class="temp-body">
        <div class="box">
            <h5 class="display-10">Local Updates</h5>
            <ul>
                <li><div >Local new Cases : 
                        <span class="badge badge-primary badge-pill">{{local_new_cases}}</span>
                    </div>
                </li>
                <li><div>Local Total Cases : 
                    <span class="badge badge-primary badge-pill">{{local_total_cases}}</span>
                </div></li>
                <li><div>Local Total individuals in hospital : 
                    <span class="badge badge-primary badge-pill">{{local_total_number_of_individuals_in_hospitals}}</span>
                </div></li>
                <li><div>Local Total Deaths : 
                    <span class="badge badge-primary badge-pill">{{local_deaths}}</span>
                </div></li>
                <li><div>Local Total Recovered : 
                    <span class="badge badge-primary badge-pill">{{local_recovered}}</span>
                </div></li>
            </ul>
        </div>
    </div>

    <hr>

    <div class="temp-body">
            <div class="box">
                <h5 class="display-10">Local Updates</h5>
                <ul>
                    <li><div >Global New Cases :  
                            <span class="badge badge-primary badge-pill">{{global_new_cases}}</span>
                        </div>
                    </li>
                    <li><div>Global Total Cases :
                        <span class="badge badge-primary badge-pill">{{global_total_cases}}</span>
                    </div></li>
                    <li><div>Global Deaths :
                        <span class="badge badge-primary badge-pill">{{global_deaths}}</span>
                    </div></li>
                    <li><div>Global Recovered : 
                        <span class="badge badge-primary badge-pill">{{global_recovered}}</span>
                    </div></li>
                </ul>
            </div>
        </div>

</div>